@model WebDev.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
        </dd>
        <dt class="col-sm-2">
            <img src="/images/@Model.PostId/@Model.Images.First().FileName" alt="@Model.Images" width="300" height="300">
        </dt>
        <dd class="col-sm-10">
        </dd>
        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-10">
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
