<h1>Login Page</h1>
<br />

<div class="container">
    <div class="row">
        <form asp-action="login" method="post">
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" name="userName" placeholder="Enter username" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" name="password" placeholder="Password" />
            </div>
            <div>
                <button class="btn btn-info" type="reset">Reset</button>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <br />
            <p>
                User1
                <br />
                Username = user1
                <br />
                Password = user1
            </p>
            <p>
                User2
                <br />
                Username = user2
                <br />
                Password = user2
            </p>
        </form>

    </div>
</div>